/* styles.css */

html {
	background-color: AliceBlue;
}

h1 {
	font-family: Courier New;
	color: DarkGray;
	font-size: 35px; 
	letter-spacing: 0px;
}

h2 {
	font-family: Courier New;
	color: Black;
	font-size: 20px; 
	letter-spacing: 5px;
}

div { 
	font-family: Courier New;
	color: dodgerblue;
	font-size: 30px;
	letter-spacing: 5px;
}

.red {
	color: red;
	font-weight: bold;
	transform: rotate(25deg);
}

.offset {
	margin-left: 90px;
}

.offset span {
	display: inline-block;
	transform: rotate(12deg);
	color: DimGray;
}
